#mbody{
    width: 100%;

    /*background: red;*/
    height: 1300px;
    border-top: 5px solid #333;
}

#mbody table{

    width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #006942;
}

.table_top{
    background: #006942;
    width: 100%;
    height: 160px;
    color: white;
}

.table_top tr td{
    padding-left: 20px;
    padding-top: 20px;

}

.info img{
    height: 30px;
    vertical-align: middle;
}

#headlogo{
    width: 15%;
}

.table_head{
    height: 80px;
    border-bottom: 1px dashed #333333;
}

.table_head td {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #006942;
    font-size: 17px;
}

.table_head img{
    vertical-align: middle;
}

.table_foot td{
    padding-left: 20px;
    color: #006942;

}

.table_foot{
    height: 50px;
}

.table_content{
    height: 30px;
}

.table_content p,.table_self p{
    text-indent: 80px;
    line-height: 30px;
}

.table_content th{
    text-align: left;
    height: 50px;
    padding-left: 70px;
    color: #006942;
    padding-top: 30px;
}

.table_content td{
    padding-left: 70px;
    color: #006942;
    padding-right: 70px;
}

.table_content td ol{
    padding: 15px 25px ;
}

.table_self td{
    padding-left: 70px;
    color: #006942;
    height: 100px;
    padding-right: 70px;
}

.down_it{
    margin-top: 300px;
    margin-left: 50%;
    left: 501px;
    height: 110px;
    width: 60px;
    position: fixed;
    margin-right: 50px;
    /*background: red;*/
}

.down_it ul{
    list-style: none;
    width: 60px;
    height: 110px;
}

#back_top{
    display: block;
    width: 60px;
    height: 55px;
    background:url("../img/button.jpg") no-repeat;
    transition: 0.4s ease;
    border-radius:  0px 5px 0px 0px;

}

#back_top:hover{
    background-position: -60px 0;
}

#download{
    display: block;
    width: 60px;
    height: 55px;
    background: url("../img/button.jpg") no-repeat 0 -55px;
    transition: 0.4s ease;
    border-radius: 0px 0px 5px 0px;
}

#download:hover{
    background-position: -60px -55px;
}